body {
  background-color: #2A4108;
  color: #272200;
  background-image: none;
}

// elements index page
#elements-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  font-size: 120%;
}

.element-card {
  margin: 20px 0px;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.element-card img {
  position: absolute;
  top: -40px;
  opacity: .6;
  z-index: -1;
  width: 100%;
  transition: opacity .3s
}

.element-card-links {
  padding: 5px;
  color: white;
  list-style: none;
  padding-left: 20px;
  background: 
    linear-gradient(
      to left,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, .6)
    );
}

.element-card-links:hover + img {
  opacity: .9;
}

.element-card-links a {
  color: white;
}

// elements show and edit page
#show-element, #edit-element {
  width: 90vw;
  margin: 0 5vw;
  background: rgba(221, 229, 114, .7);
  padding: 10px;
  border-radius: 20px;
  border: 5px solid #242700;

  h4 {
    margin: 0px;
  }

  .elements-section {
    background: #F7FCBA;
    margin: 10px;
    padding: 5px 10px;
    border-radius: 10px;
  }

  .instructions {
    margin: 15px 0px;
  }
  
  input[type=submit] {
    -moz-box-shadow: inset -3px -3px 10px #130C0D;
    -webkit-box-shadow: inset -3px -3px 10px #130C0D;
    box-shadow: inset -3px -3px 10px #130C0D;
    background-color: #73452F;
    color: white;
    border-radius: 15px;
    font-style: italic;
    font-weight: bold;
    padding: 10px 30px;
    margin: 5px;
  }

  #periodic-ul li:nth-child(n+2){
    display:none;
 }

  .instructions-text {
    white-space: pre-line;
  }
}