body {
  font-family: Arial, sans-serif;
  margin: 0px;
}

div#content {
  position: relative;
  top: 10vh;
}

// alert boxes
.alert {
  width: 80%;
  margin-top: 20px;
  margin-right: 10%;
  margin-left: 10%;
  border-radius: 10px;

  ul {
    list-style-type: none;
  }
}

.alert-success {
  border: 3px solid darkgreen;
  background: rgba(144, 238, 144, .8);
  color: darkgreen;
}

.alert-danger {
  border: 3px solid darkred;
  background: rgba(255, 127, 80, .8);
  color: darkred;
}

.alert-warning {
  border: 3px solid darkorange;
  background: rgba(210, 180, 140, .8);
  color: darkorange;
}