html, body, #root, div.App, div.content {
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  margin: 0px;
}

div.content{
  background-color: rgb(30, 56, 30);
}

div#body {
  position: relative;
  top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

// alert boxes
.alert {
  width: 90%;
  margin-top: 20px;
  margin-right: 5%;
  margin-left: 5%;
  border-radius: 10px;

  ul {
    list-style-type: none;
  }
}

.alert-success {
  border: 3px solid darkgreen;
  background-color: rgba(144, 238, 144, .8);
  color: darkgreen;
}

.alert-danger {
  border: 3px solid darkred;
  background-color: rgba(255, 127, 80, .8);
  color: darkred;
}

.alert-warning {
  border: 3px solid SaddleBrown;
  background-color: rgba(252, 248, 227, .8);
  color: SaddleBrown;
}

.alert-info {
  border: 3px solid DarkBlue;
  background-color: rgba(100, 149, 237, .8) ;
  color: DarkBlue;
}