.header {
  height: 7vh;
  background-color: #61671B;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 0 5px 10px #61671B;
  padding-top: 5px;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  z-index: 100;
  overflow: visible;

  img {
    height: 7vh;
  }

  a {
    color: #AB9F55;
    font-weight: bold;
  }

  .nav-link {
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
  }

  a.selected {
    background: #AB9F55;
    color: #2A4108;
    box-shadow: 0 0 5px 1vh #AB9F55;
  }
}

.header > * {
  margin: 0px 20px;
}