body.periodic_inspections {
  background: #685E1B;
  background-image: url(HappyCreek.JPG);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

#periodic-inspection-form {
  width: 90vw;
  margin: 0 5vw;
  background: rgba(221, 229, 114, .7);
  padding: 10px;
  border-radius: 20px;
  border: 5px solid #242700;

  .form-group {
    background: #F7FCBA;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
  }

  h2 {
    margin-bottom: 10px;
    margin-top: 5px;
  }

  h3 {
    margin: 0px
  }

  .updated-by{
    padding: 10px 5px;
  }

  textarea {
    border-radius: 10px;
    height: 40px;
  }

  input[type=date] {
    border-radius: 10px;
    padding: 2px;
  }

  input[type=submit] {
    -moz-box-shadow: inset -3px -3px 10px #130C0D;
    -webkit-box-shadow: inset -3px -3px 10px #130C0D;
    box-shadow: inset -3px -3px 10px #130C0D;
    background-color: #73452F;
    color: white;
    border-radius: 15px;
    font-style: italic;
    font-weight: bold;
    padding: 10px 30px;
    margin: 5px;
  }

  input[type=date] {
    border-radius: 10px;
    padding: 2px;
  }
  
  .instructions-text {
    white-space: pre-line;
  }
}