body.preuse_inspections{
  background-color: #685E1B;
  background-image: url('../images/AlutianMaidenhairFern.JPG');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

#preuse-inspection-form {
  width: 90vw;
  margin: 0 5vw;
  background-color: rgba(175, 182, 79, 0.702);
  padding: 10px;
  border-radius: 20px;
  border: 5px solid #242700;
}