body {
  background-color: #141F04;
  background-image: url('../images/DevilsJunction.JPG');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

/* Form */
#login-form-div {
  background:rgb(20,31,4);
  background:rgba(20,31,4,0.8);
  border: 10px solid rgb(13,13,13);
  color: #fff;
  top: 10vh;
  width: 25vw;
  height: 60vh;
  border-radius: 20px;

  // flexbox for aligning children roughly in center
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  
  //in order to vert and horiz align div
  position: absolute;
  // top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
}

#login-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/* Fields */
#login-form input[type=password], #login-form input[type=email] {
  -moz-box-shadow: inset -3px -3px 10px #5B5A5E;
  -webkit-box-shadow: inset -3px -3px 10px #5B5A5E;
  box-shadow: inset -3px -3px 10px #5B5A5E;
  border-radius: 15px;
  padding: 5px;
  margin: 5px;
}
/* Button */
#login-form button {
  -moz-box-shadow: inset -3px -3px 10px #130C0D;
  -webkit-box-shadow: inset -3px -3px 10px #130C0D;
  box-shadow: inset -3px -3px 10px #130C0D;
  background-color: #73452F;
  color: white;
  border-radius: 15px;
  font-style: italic;
  font-weight: bold;
  padding: 10px 30px;
  margin: 5px;
}

#login-form-div a {
  color: white;
}

#login-form-div * {
  text-align: center
}

