div.table {
  width: 100%;
  display: table;
}

div.table-head {
  display: table-header-group;
  background-color: gray;
  font-weight: bold;
  font-size: 25px;
}

div.th, div.td {
  display: table-cell;
  padding: 10px;
  text-align: justify;
  border-bottom: 1px solid black;
}

div.table-body {
  display: table-row-group;
}

div.table-row {
  display: table-row;
}